<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <th:block th:replace="base :: headInfo"/>

    <title>Add a student</title>
</head>
<body>
<th:block th:replace="base :: navigationbar"></th:block>

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="container">
                <form action="#" th:action="@{/addstudent}" th:object="${newstudent}" method="post">
                    <div class="row justify-content-center">
                        <input type="hidden" th:field="*{id}" />
                        <div class="col col-sm-4 form-group">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" th:field="*{firstName}" id="firstName"
                                   placeholder="First name"/>
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>

                        </div>
                        <div class="col col-sm-4 form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="Last name"/>
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-sm-4 form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="name@example.com"/>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                        </div>
                        <div class="col col-sm-4 form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control" th:field="*{phone}" id="phone" placeholder="123-456-7890"/>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-sm-8 form-group">
                            <label for="school">School name</label>
                            <input type="text" class="form-control" th:field="*{schoolName}" id="school" placeholder="My school"/>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-sm-8">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<th:block th:replace="base :: scripts"></th:block>
</body>
</html>